# Panda Exercices

Exercice 1:
Charger le fichier `customers.csv` et afficher les 5 premières lignes.

In [ ]:
import pandas as pd

df = pd.read_csv('./data/customers.csv')
print(df)
# print(df.to_string())

:

Exercice 2: Afficher uniquement la colonne `name`.

In [ ]:
print(df['name'])

Exercice 3: Lister les clients de Paris.

In [ ]:
print(df[df['city'] == 'Paris'])
city = df.loc[df['city'] == 'Paris', 'name']
city

Exercice 4: Trier les clients par âge décroissant.

In [ ]:
df.sort_values(by='age', ascending=False)

Exercice 5: Compter combien de clients viennent de chaque ville.

In [ ]:
count_city = df['city'].value_counts()
count_city
# count_city2 = df.groupby('city').size()
# count_city2

Exercice 6: Sauvegarder les clients de Lyon dans `data/lyon_clients.csv`.

In [ ]:
lyon = df[df['city'] == 'Lyon']
lyon.to_csv('./data/lyon_clients.csv', index=False)

*(Optionnel)* Lister les clients dont le nom commence par “A”.

In [ ]:
a = df[df['name'].str.startswith('A')]
# a = df[df.name.str.startswith('A')]
# df['name']
a

Exercice 7: Charger la table `orders` depuis la base `marketing.db`.

In [ ]:
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect('./data/marketing.db')

db_orders = pd.read_sql_query("SELECT * FROM orders", cnx)
db_orders

Exercice 8: Lister les 5 premières commandes avec le nom du client.

In [ ]:
# commandes_5 = pd.read_sql_query("SELECT * FROM orders ", cnx)
# commandes_5.head()
## ---
## Requêtes SQLite3:
commande = pd.read_sql_query("SELECT * FROM orders", cnx)
name = pd.read_sql_query("SELECT * FROM customers", cnx)
## Merge les tableaux:
# merged = pd.merge(commande,name, right_on='id', left_on='customer_id')
# merged.name
## or
order_list = commande.merge(name, on='id', how='left')
order_list.head()

Exercice 9: Calculer le total dépensé par chaque client.

In [ ]:
# query = "SELECT c.name, SUM(o.amount) AS total_depenses FROM customers c JOIN orders o ON c.id = o.customer_id GROUP BY c.name;"
# spent = pd.read_sql_query(query, cnx)
# spent
## or
sum = order_list.groupby('name')['amount'].sum()
sum
## or
# somme = (
#     order_list
#     .groupby("name")
#     .agg({
#         "amount": "sum",         # somme uniquement sur amount
#         "customer_id": "first",   # ou "min", "max", selon ce que tu veux afficher
#         "age": "first"
#     })
#     .reset_index()
# )
# print(somme)

Exercice 10: Calculer le panier moyen par ville.

In [ ]:
spent = pd.read_sql_query("SELECT c.city, AVG(o.amount) AS depense_moyenne FROM customers c JOIN orders o ON c.id = o.customer_id GROUP BY c.city;", cnx)
spent

Exercice 11: Exporter le rapport des panier moyens par ville en CSV.

In [ ]:
spent.to_csv('./data/exo11.csv', index=False)

*(Optionnel)* Trouver le top 3 clients par montant total.